{% extends 'layout.html' %}

{% block title %} FAQ {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <legend class="text-center header">FAQ</legend>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <h4 class="h4 font-weight-normal">
                                    Name :
                                </h4>
                                <input id="name" name="name" type="text" placeholder="Name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <h4 class="h4 font-weight-normal">
                                        E-mail :
                                </h4>
                                <input id="email" name="email" type="text" placeholder="Email Address" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <h4 class="h4 font-weight-normal">
                                    Question :
                                </h4>
                                <textarea class="form-control" id="message" name="message" placeholder="You may ask us anything about Tapanuli Utara"
                                    rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        
        
        <div class="col-md-6">
            <div>
                <div class="panel panel-default">
                    <div class="text-center header">Discussion Forum</div>
                    <div class="panel-body text-left">
                        <div class="column-left">
                            <h4>adiputras@gmail.com</h4>
                                <p>Kalau boleh tau, kenapa spot Goa Situmandi belum ada masuk ke website ini ya? Kalau boleh kasih saran,
                                    websitenya bisa ditambahi dengan menambah spot-spot wisata lain. So far, this website looks nice:)
                                </p>

                            <h6>Answer : 
                                Silakan ditunggu ya update-annya. Terima kasih sudah memberi saran:)
                            </h6>
                        </div>
                    </div>

                    <div class="panel-body text-left">
                            <div class="column-left">
                            <h4>cls2705@gmail.com</h4>
                                <p>Kalo boleh, ditambahin ya tempet" makan yang recommended di daerah Tapanuli Utara
                                </p>
    
                            <h6>Answer : 
                                Silakan ditunggu ya update-annya. Terima kasih sudah memberi saran:)
                            </h6>
                        </div>
                    </div>

                    <div class="panel-body text-left">
                        <div class="column-left">
                            <h4>buntalkapas@gmail.com</h4>
                                <p> Ada info soal Munson-Lyman ga?
                                </p>

                            <h6>Answer : 
                                Untuk saat ini, website kita tidak menyediakan. Akan tetapi boleh mengecek link ini:
                                <a href="url">https://sejarahmartir.wordpress.com/2016/06/23/samuel-munson-henry-lyman-1834/</a>    
                            </h6>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}