{% extends 'layout.html' %}

{% block title %} Home {% endblock %}

{% block body %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>E-Map Pariwisata Tapanuli Utara</h1>
        <p>This web application will help you to find the best path to your next spot
            for having a vacation.
            Enter your current state and your goal state below.
        </p>
        <!-- <p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a>
        </p> -->
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <form class="col-md-5"> 
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-1">
                        <h3 class="h3 mb-3 font-weight-normal">
                            Current State :
                        </h3>
                        <!--<input id="cstate" name="state" type="text" placeholder="Ex: Pemandian Air Soda" class="form-control">-->
                        <select style="width = 300px" name="start_point">
                            <option value="Putri Lopian">Pemandian Air Soda</option>
                            <option value="Air Panas Sipoholon">Pemandian Air Panas Sipoholon</option>
                            <option value="Samosir">Pemandian Air Panas Hutabarat</option>
                            <option value="Salib Kasih">Salib Kasih</option>
                            <option value="Sisingamangaraja">Sopo Partungkoan</option>
                            <option value="HKBP Pearaja">Gereja Pusat HKBP Pearaja</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-1">
                            <h3 class="h3 mb-3 font-weight-normal">
                                Goal State :
                            </h3>
                        <!--<input id="gstate" name="state" type="text" placeholder="Ex: Sopo Partungkoan" class="form-control">-->
                        <select style="width = 300px" name="end_point">
                            <option value="Putri Lopian">Pemandian Air Soda</option>
                            <option value="Air Panas Sipoholon">Pemandian Air Panas Sipoholon</option>
                            <option value="Samosir">Pemandian Air Panas Hutabarat</option>
                            <option value="Salib Kasih">Salib Kasih</option>
                            <option value="Sisingamangaraja">Sopo Partungkoan</option>
                            <option value="HKBP Pearaja">Gereja Pusat HKBP Pearaja</option>
                        </select> 
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <button type="submit" style="height: 35px; width: 90px; vertical-align: middle; margin: 0 auto" class="btn btn-primary btn-lg">Search</button>
                    </div>
                </div> 
            </form>
    

            <div class="col-md-7">
                <div class="container">
                        <div class="starter-template">
                            <h3>Pemandian Air Soda - Sopo Partungkoan</h3>
                            <p class="h4">Pemandian Air Soda - Jl. Putri Lopian - 
                                Jl. Sisingamangaraja - Sopo Partungkoan</p>
                        </div>
                </div>
            </div>
</div>
{% endblock %}