{% extends 'layout.html' %}

{% block title %} Information {% endblock %}

{% block body %}
<div class="container">
    <div class="starter-template">
        <h1>Welcome to Tapanuli Utara, Kota Wisata Rohani</h1>
        <p class="lead">You may see some information of best spot for having a vacation.
            May you enjoy your holiday and our service! :)
        </p>
    </div>
</div>
<!-- /.container -->

 <div class="container">
        <div class="row">
            <div class="card-group">
                <h3>Salib Kasih Tarutung</h3>
                <img src="{{ user_image }}" alt="User Image">
                <p>Salib Kasih, Siatas Barita adalah sebuah tempat wisata rohani yang dibuat untuk mengenang jasa
                    missionaris agama Kristen yang berasal dari Jerman DR.Ingwer Ludwig Nommensen (hampir dibunuh 
                    di sana karena menyebarkan agama Kristen) memulai missinya di tanah Batak, dan merupakan tempat 
                    DR.IL Nommensen untuk memandang ke arah Rura Silindung dibawahnya.
                    Salib Kasih ini terletak di Dolok (Bukit) Siatas Barita, Kabupaten Tapanuli Utara, Provinsi Sumatera Utara.</p>
            </div>
    
            <div class="column-center">
                <h3>Sopo Partungkoan</h3>
                <p>Sopo Partungkoan berada di jalan Sisingamangaraja, Tarutung, Tapanuli Utara. 
                    Rumah hiasan batak gorga dalam bahasa Batak, “Sopo” berarti rumah dan pertungkoan 
                    adalah tempat pertemuan. Daya tarik sopo partungkoan bagi para wisatawan tidak terlepas 
                    dari keberadaan sumur yang berada di depan Sopo partungkoan ini. Konon dikatakan dalam 
                    sumur ini, pemandian Raja Sisingamangaraja XII.</p>
            </div>
    
            <div class="column-left">
                <h3>Gereja Pusat HKBP Pearaja</h3>
                <p>Gereja HKBP Pearaja adalah gereja pusat/ utama dari jemaat HKBP. Gereja ini salah satu dari
                    dua gereja yang didirikan dan diresmikan oleh Pdt. I. L. Nommensen. Disini juga bertempat tinggal
                    dan kantor pusat dari Ephorus Gereja HKBP beserta pengurus-pengurus intinya.</p>
            </div>
    
            <div class="column-left">
                <h3>Pemandian Air Panas Hutabarat</h3>
                <p>Pemandian ini adalah salah satu pemandian air panas yang ada di Tapanuli Utara,
                    tepatnya berada di Hutabarat. Ada beberapa tepat pemandian yang tersedia, baik kolam renang
                    maupun kamar mandi. Air panas ini bersumber dari bawah tanah yang muncul ke permukaan dan kemudian
                    dialirkan ke rumah-rumah warga sekitar dan wisata pemandian.
                </p>
            </div>
    
            <div class="column-left">
                <h3>Pemandian Air Panas Sipoholon</h3>
                <p>Pemandian air panas ini mirip dengan pemandian air panas di Hutabarat. Hanya saja,
                    pemandian air panas di Sipoholon ini dikelilingi oleh perbukitan kapur berwarna putih.
                    Pemandian air panas Sipoholon ini mirip dengan wisata yang sama, Pamukkale, di Turki.
                    Pemandian Air Panas Sipoholon sediri merupakan pemandian alami yang mengandung belerang. 
                </p>
            </div>
    
            <div class="column-left">
                <h3>Pemandian Air Soda</h3>
                <p>Pemandian Air Soda Tarutung adalah salah satu tempat wisata pemandian di Kabupaten Tapanuli Utara, 
                Provinsi Sumatera Utara.Mata Air Soda Tarutung terletak di kaki bukit daerah Tarutung, di Desa Parbubu I, 
                Kabupaten Tapanuli Utara. Mata air soda ini hanya berjarak satu kilometer dari pusat kota Tarutung. 
                Pemandain Air Soda hanya ada dua dunia ini, yakni di Tarutung dan di Venezuela. </p>
            </div>
        </div>
    </div>
    </div>
            
        



{% endblock %}